:root{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    background: rgb(247, 244, 244);
}

.card{
    margin-top: 2rem;
    width: 35rem;
    display: grid;
    margin-bottom: 2rem;
}

.grid-1{
    background: white;
    height: 25rem;
    padding: 2.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.grid-1 h3{
    color:  rgb(4, 181, 187);
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 2rem;
}

.grid-1 h4{
    color:  rgb(153, 233, 78);
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
}

.grid-1 p{
    color: rgb(185, 183, 183);
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.grid-2{
    background:rgb(52, 194, 199);
    color: white;
    padding: 2.5rem;
}
.grid-2 p{
    font-size: 1.5rem;
}

.grid-2 h3{
    font-weight: 600;
    font-size: 2rem;
}
.grid-2 h1{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    margin-top: 1.2rem;
    font-size: 2.5rem;
}

.grid-2 span{
    font-size: 1.2rem;
    font-weight: normal;
    opacity: 0.6;
}

button{
    width: 100%;
    height: 4rem;
    color: white;
    margin-top: 2rem;
    font-size: 1.5rem;
    background:  rgb(153, 233, 78);
    border: 1px solid rgb(52, 194, 199);
    box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    cursor: pointer;
}

button:hover{
    background:  rgb(163, 241, 89);
    box-shadow: 0 0.8rem 1.5rem  rgb(52, 194, 199);
   
}

.grid-3{
    background: rgb(87, 205, 209);
    border-radius: 0 0 0.5rem 0.5rem ;
    padding: 2.5rem;
    color: white;
}
.grid-3 h3{
    font-weight: 600;
    font-size: 2rem;
}

.grid-3 p{
    font-size: 1.2rem;
    margin-top: 1.2rem;
    line-height: 2rem;
}

@media(min-width:630px){
    .card{
        width: 60rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-1{
        grid-column: 1/-1;
        height: 20rem;
    }
    .grid-3{
        border-radius: 0 0 0.5rem 0 ;
    }
    
}